/* 
    Document   : cart
    Created on : 21.06.2012, 16:26:03
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
/*    background-image: url("http://bong.1gb.ru/images/bg_1.png"); */
    background-color: yellow;
/*    opacity: 0.32; */
    background-repeat: repeat-y;
    z-index: 0;
}
#main_cart{
    width: 100%;
    height: 730px;
    z-index: 0;
    visibility: visible;
}
#your_cart{
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    visibility: visible;
    opacity: 1.0;
    z-index: 2;
} 
div.row_cart{
    position:relative;
    width:100%;
    height:102px;
    top:12px;
    margin-top: 8px;
}
#close_cart{
    position:relative;
    width: 32px;
    text-align: center;
    cursor: pointer;
    left: 768px;
    top: 4px;
    font-weight: bold;
}
div.image_cart{
    position: relative;
    margin-left: 72px;
    top: 4px;
}
div.item_name{
    position: relative;
    margin-left: 16px;
    top:-8px;
    width:166px;
    height:42px;
    text-align:center;
}
div.item_price{
    position: relative;
    top:-98px;
    left: 198px;
    width:96px;
    height:27px;
}
div.up_down{
    position: relative;
    top:-152px;
    left: 328px;
    width:39px;
    height:100px;
}
div.up{
    position: relative;
    background-image: url('../images/up.png');
    width:39px;
    height:39px;
    cursor:pointer;
}
div.amount{
    position: relative;
    width:39px;
    height:22px;
    top:-16px;
    text-align:center;
    font-weight:bold;
} 
div.down{
    position: relative;
    background-image: url('../images/down.png');
    width:39px;
    height:39px;
    top:-16px;
    cursor:pointer;
}
div.item_cash{
    position: relative;
    top:-238px;
    left: 418px;
    width:96px;
    height:27px;
}
div.cr_order{
    position: relative;
    width: 600px;
    height: 32px;
    text-align: right;
}
#crt_order{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
#order_form{
    display: none;
    position: relative;
    width: 860px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
/*    background-color: gold;*/
}
#o_order{
    width:520px;
    height:52px;
    margin-top: 12px;
}
#form_menager{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration:underline;
    cursor:pointer;
}
#pid_order{
    width:100%;
    height:24px;
}
div.order_footer{
    font-weight:normal;
    position:relative; 
    width: 720px;
    height:355px;
    margin: 24px auto;
    text-align:left;
    padding-top: 22px;
}
#o_title{
    position:relative;
    width: 600px;
    height:27px;
}
div.order_header{
    font-size:16px;
    font-weight:bold;
    color: black;
    position:relative;
    margin:6px auto;
/*    width:92%;*/
    height:47px;
}
#h_num{
    position:relative;
    float:left;
    width:43px;
    height: 46px;
    text-align:center;
}
#h_name{
    position:relative;
    float:left;
    width:543px;
    height: 46px;
    text-align:center;
}
#h_amount{
    position:relative;
    float:left;
    width:52px;
    height: 46px;
    text-align:center;
}
#h_price{
    position:relative;
    float:left;
    width:143px;
    height: 46px;
    text-align:center;
}
div.order_row{
    font-size:14px;
    font-weight: normal;
    color: black;
    position:relative;
    margin:6px auto;
    width:92%;
    height:27px;
/*    padding-left: 46px;*/
}
div.b_num{
    position:relative;
    float:left;
    width:43px;
    height:26px;
    text-align:center;
}
div.b_name{
    position:relative;
    float:left;
    width:543px;
    height:26px;
    text-align:left;
}
div.b_amount{
    position:relative;
    float:left;
    width:52px;
    height:26px;
    text-align:center;
}
div.b_cost{
    position:relative;
    float:left;
    width:143px;
    height:26px;
    text-align:center;
}
div.b_artikul{
    visibility:hidden;
}