/* 
    Document   : med
    Created on : 29.06.2012, 1:05:50
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#main_med{
    width: 1023px;
    height: 722px;
    z-index: 0;
    visibility: visible;
    background-image: url('../images/faq_bg.png');
}
.tell{
   position: relative;
   cursor: pointer;
   width: 82px;
   height: 43px;
   opacity: .73;
/*   padding-top: 36px;*/
}
#tell_rebbit{
   background:  url('../images/tell_r.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 4;
   left: 238px;
   top: 117px;
}
#tell_beaver{
   background:  url('../images/tell_r.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 2;
   left: 326px;
   top: 202px;
}
#tell_squirell{
   background:  url('../images/tell_l.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 3;
   left: 443px;
   top: 26px;
   
}
#tell_narick{
   background:  url('../images/tell_l.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 3;
   left: 663px;
   top: -28px;
   
}
#tell_tm{
   position: relative;
   cursor: pointer;
   width: 82px;
   height: 43px;
   background:  url('../images/tell_r.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 1;
   left: 278px;
   top: 206px;
   visibility: hidden;
}
.tell_in{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    width: 164px;
    height: 68px;
    margin: auto;
    top: 26px;
}