/* 
    Document   : med
    Created on : 29.06.2012, 1:05:50
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#main_med{
    width: 1023px;
    height: 722px;
    z-index: 0;
    visibility: visible;
    background-image: url('../images/med_bg.png');
}
.tell{
   position: relative;
   cursor: pointer;
   width: 82px;
   height: 43px;
   opacity: .73;
}
#tell_rebbit{
   position: absolute;
   background:  url('../images/tell_r.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 4;
   left: 138px;
   top: 64px;
}
#tell_beaver{
    position: absolute;
   background:  url('../images/tell_r.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 2;
   left: 226px;
   top: 239px;
}
#tell_squirell{
    position: absolute;
   background:  url('../images/tell_l.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 3;
   left: 343px;
   top: 64px;
   
}
#tell_narick{
    position: absolute;
   background:  url('../images/tell_l.png') 100% 100% no-repeat;
   background-size: contain;
   z-index: 3;
   left: 563px;
   top: 64px;
   
}
#tell_tm{
   position: relative;
   width: 720px;
   height: 330px;
   top: 23px;
   left: 100px;
}
.tell_in{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    width: 194px;
    height: 68px;
    margin: 8px auto;
}