/* 
    Document   : sec
    Created on : 15.06.2012, 20:19:56
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/
#s_rabbit{
    position: relative;
    width: 512px;
    height: 521px;
    top: 220px;
    background-image: url('../images/rabbit_s.png');
    background-repeat: no-repeat;
    z-index: 1;
}
#beaver{
    position: relative;
    width: 512px;
    height: 521px;
    top: -310px;
    left: 512px;
    background-image: url('../images/beaver.png');
    background-repeat: no-repeat;
    z-index: 3;
}
#squirell{
    position: relative;
    width: 404px;
    height: 445px;
    top: -940px;
    left: 272px;
    background-image: url('../images/squirell.png');
    background-repeat: no-repeat;
    z-index: 2;
}
#table{
    position: relative;
    width: 331px;
    height: 211px;
    top: -1000px;
    left: 352px;
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    z-index: 4;  
}
