/* 
    Document   : sec
    Created on : 15.06.2012, 20:19:56
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/
#main_s{
    width: 1023px;
    height: 730px;
    z-index: 0;
    visibility: visible;
    background-image: url('../images/bg_storefront.png');
}

#table{
    position: relative;
    width: 331px;
    height: 211px;
    top: 470px;
    left: 337px;
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 4; 
/*    outline: 3px solid yellow;*/
}
#items{
    position: relative;
    width: 320px;
    height: 130px;
    visibility: hidden;
/*    background-image: url('../images/items.png');
    background-repeat: no-repeat;*/
    z-index: 5;
    top: 0px;
    left: 322px;
/*    outline: 2px solid yellow;*/
}
div.item{
    position: relative;
    float: left;
    width: 80px;
    height: 77px;
    cursor: pointer;
}
#item_dscr{
    position: relative;
    z-index: 18;
    width: 273px;
    height: 199px;
    background-image: url('../images/items/item_description.png');
    opacity: 0.77;
    top: -290px;
    left: -256px;
    padding-top: 16px;
/*    font-size: 2em;
    text-align: center;*/
}
.description{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
